-throw_content :right do
  =form :action => "" do
    .row
      %label{ :for => "q" } Search
      .hint Name or Email
      =text_field :name => "q", :class => "search_right"
      =submit "Search"
%h1 Users
.subtitle
  ="#{pluralize(Forumtastic::User.count, 'user')}"
%ul#users
  -@users.each do |user|
    %li
      .info
        =link_to user.name, slice_url(:forumtastic, :user, user), :class => "name"
        %p=user.email
      .other
        %p="Member since #{user.created_at.strftime('%b %d, %Y')}"
        %p=link_to user.website, ( user.website.match(/^http:\/\//) ? user.website : "http://#{user.website}")
=paginate @users